.single-video-main {
  grid-area: main-content;
  padding: 20px;
}

.more-videos-sidebar {
  grid-area: videos-sidebar;
  margin: 0 auto;
}

.container {
  display: grid;
  /* height: 100vh; */
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "main-content videos-sidebar";
}

.notes-icon {
  width: 2rem;
  height: 2rem;
  vertical-align: middle;
}

.video-info {
  border-bottom: 1px solid black;
  padding: 1rem;
}

.video-action {
  width: 7rem;
  justify-content: space-around;
  align-items: center;
}
